@{
	ViewData["Title"] = "Monitoring";
}

@*<h1 class="h3 mb-3">Dashboard</h1>*@

<div class="row">
	<div class="col-12">
		<div class="card">
			@*<div class="card-header">
				<h5 class="card-title mb-0">Empty card</h5>
			</div>*@
			<div class="card-body">

				<div class="row">
					<div class="col-12 col-lg-8 col-xxl-9 d-flex">
						<div class="card flex-fill">
							<div class="card-header">

								<h5 class="card-title mb-0">Fund Source</h5>
							</div>
							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Year</th>
										<th class="d-none d-xl-table-cell">Region</th>
										<th class="d-none d-xl-table-cell">Fund Source</th>
										<th>Allotment</th>
										<th class="d-none d-md-table-cell">Obligated</th>
										<th class="d-none d-md-table-cell">% Obligated</th>
										<th class="d-none d-md-table-cell">Disbursed</th>
										<th class="d-none d-md-table-cell">% Disbursed</th>
										<th class="d-none d-md-table-cell">% Balance</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2022</td>
										<td class="d-none d-xl-table-cell">Region VII</td>
										<td class="d-none d-xl-table-cell"></td>
										<td><span class="badge bg-success"></span></td>
										<td class="d-none d-md-table-cell"></td>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
									</tr>
									<tr>
										<td>2022</td>
										<td class="d-none d-xl-table-cell">Region VII</td>
										<td class="d-none d-xl-table-cell"></td>
										<td><span class="badge bg-danger"></span></td>
										<td class="d-none d-md-table-cell"></td>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
									</tr>
									<tr>
										<td>2022</td>
										<td class="d-none d-xl-table-cell">Region VII</td>
										<td class="d-none d-xl-table-cell"></td>
										<td><span class="badge bg-success"></span></td>
										<td class="d-none d-md-table-cell"></td>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
									</tr>
									<tr>
										<td>2022</td>
										<td class="d-none d-xl-table-cell">Region VII</td>
										<td class="d-none d-xl-table-cell"></td>
										<td><span class="badge bg-warning"></span></td>
										<td class="d-none d-md-table-cell"></td>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
									</tr>
									<tr>
										<td></td>
										<td class="d-none d-xl-table-cell"></td>
										<td class="d-none d-xl-table-cell">Total</td>
										<td><span class="badge bg-warning"></span></td>
										<td class="d-none d-md-table-cell"></td>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
										<th class="d-none d-md-table-cell"></th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
